table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.phone-cell {
    padding: 0;
}

.line {
    border-bottom: 1px solid black; 
    padding: 10px 0;
}

.phone-cell div:last-child {
    padding: 10px 0;
}

table thead tr:nth-child(2) th:nth-child(1),
table thead tr:nth-child(2) th:nth-child(2) {
    text-decoration: underline;
}

table tbody td:nth-child(2),
table tbody td:nth-child(3) {
    text-decoration: underline;
}
